<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>로그인 페이지</title>
</head>


<body>
<h1>로그인 페이지</h1>
<hr/>
<!-- 시큐리티는 x-www-form-url-encoded 타입만 인식 -->
<form id="loginForm" action="/api/v1/login" method="post">
	이름 <input type="text" name="username" required/>
	롤   <input type="text" name="role" />
	<button type="submit">로그인</button>
</form>
<script>
	document.getElementById('loginForm').addEventListener('submit', function(event) {
		event.preventDefault();

		// FormData를 사용하여 폼 데이터 가져오기
		const formData = new FormData(event.target);

		// fetch를 사용하여 POST 요청 보내기
		fetch(event.target.action, {
			method: event.target.method,
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			},
			body: new URLSearchParams(formData).toString(),
		})
				.then(response => {
					if (response.status === 302) {
						// Redirect status code
						window.location.href = response.headers.get('Location');
					} else if (!response.ok) {
						throw new Error(`Network response was not ok: ${response.statusText}`);
					}

					const contentType = response.headers.get('content-type');
					if (contentType && contentType.includes('application/json')) {
						return response.json();
					} else {
						// JSON 형식이 아닌 경우, 텍스트로 응답을 처리
						return response.text();
					}
				})
				.then(data => {
					console.log('로그인 성공:', data);
					localStorage.setItem('accessToken', data.accessToken);
					// 여기에서 성공적으로 가입한 경우에 대한 처리를 수행
					// window.location.href = "index";
				})
				.catch(error => {
					console.error('로그인 실패:', error);
					// 여기에서 실패한 경우에 대한 처리를 수행
				});
	});
</script>

<br />

<h1>api - test</h1>

<form id="jwtValidForm" action="/api/v1/jwtAuth" method="post">
<!--	<input type="text" name="token" required/>-->
<!--	<input type="password" name="password" />-->
	JWT 값 확인 용도 : <button type="submit">jwt_valid</button>
</form>
<script>
	document.getElementById('jwtValidForm').addEventListener('submit', function(event) {
		event.preventDefault();
		const formData = new FormData(event.target);
		const storedToken = localStorage.getItem("accessToken");
		formData.set("token", storedToken);
		// fetch를 사용하여 POST 요청 보내기
		fetch(event.target.action, {
			method: event.target.method,
			headers: {
				'Content-Type': 'application/x-www-form-urlencoded',
			},
			body: new URLSearchParams(formData).toString(),
		})
				.then(response => {
					if (response.status === 302) {
						// Redirect status code
						// window.location.href = response.headers.get('Location');
					} else if (!response.ok) {
						throw new Error(`Network response was not ok: ${response.statusText}`);
					}

					const contentType = response.headers.get('content-type');
					if (contentType && contentType.includes('application/json')) {
						return response.json();
					} else {
						// JSON 형식이 아닌 경우, 텍스트로 응답을 처리
						return response.text();
					}
				})
				.then(data => {
					console.log('인증 성공:', data);
					// localStorage.setItem('accessToken', data.accessToken);
					// 여기에서 성공적으로 가입한 경우에 대한 처리를 수행
					// window.location.href = "index";
				})
				.catch(error => {
					console.error('로그인 실패:', error);
					// 여기에서 실패한 경우에 대한 처리를 수행
				});
	});
</script>
<br />

<form id="profileForm" action="/api/v1/profile" method="post">
	입력X<input type="text" name="role" required/>
	<!--	<input type="password" name="password" />-->
	<button type="submit">profile_Access</button>
</form>
<script>
	document.getElementById('profileForm').addEventListener('submit', function(event) {
		event.preventDefault();
		const formData = new FormData(event.target);
		const storedToken = localStorage.getItem("accessToken");
		formData.set("token", storedToken);
		const headers = new Headers();
		headers.append("Authorization", "Bearer " + storedToken);
		headers.append("Content-Type", "application/x-www-form-urlencoded")
		// fetch를 사용하여 POST 요청 보내기
		fetch(event.target.action, {
			method: event.target.method,
			headers: headers,
			body: new URLSearchParams(formData).toString(),
		})
				.then(response => {
					if (response.status === 302) {
						// Redirect status code
						// window.location.href = response.headers.get('Location');
					} else if (!response.ok) {
						throw new Error(`Network response was not ok: ${response.statusText}`);
					}

					const contentType = response.headers.get('content-type');
					if (contentType && contentType.includes('application/json')) {
						return response.json();
					} else {
						// JSON 형식이 아닌 경우, 텍스트로 응답을 처리
						return response.text();
					}
				})
				.then(data => {
					console.log('profileForm 성공:', data);
					// localStorage.setItem('accessToken', data.accessToken);
					// 여기에서 성공적으로 가입한 경우에 대한 처리를 수행
					// window.location.href = "index";
				})
				.catch(error => {
					console.error('로그인 실패:', error);
					// 여기에서 실패한 경우에 대한 처리를 수행
				});
	});
</script>
<br />


<form id="matchingForm" action="/api/v1/matching" method="post">
	<input type="text" name="role" required/>
	<!--	<input type="password" name="password" />-->
	<button type="submit">profile_Access</button>
</form>
<script>
	document.getElementById('matchingForm').addEventListener('submit', function(event) {
		event.preventDefault();
		const formData = new FormData(event.target);
		const storedToken = localStorage.getItem("accessToken");
		formData.set("token", storedToken);
		const headers = new Headers();
		headers.append("Authorization", "Bearer " + storedToken);
		headers.append("Content-Type", "application/x-www-form-urlencoded")
		// fetch를 사용하여 POST 요청 보내기
		fetch(event.target.action, {
			method: event.target.method,
			headers: headers,
			body: new URLSearchParams(formData).toString(),
		})
				.then(response => {
					if (response.status === 302) {
						// Redirect status code
						// window.location.href = response.headers.get('Location');
					} else if (!response.ok) {
						throw new Error(`Network response was not ok: ${response.statusText}`);
					}

					const contentType = response.headers.get('content-type');
					if (contentType && contentType.includes('application/json')) {
						return response.json();
					} else {
						// JSON 형식이 아닌 경우, 텍스트로 응답을 처리
						return response.text();
					}
				})
				.then(data => {
					console.log('matching 성공:', data);
					// localStorage.setItem('accessToken', data.accessToken);
					// 여기에서 성공적으로 가입한 경우에 대한 처리를 수행
					// window.location.href = "index";
				})
				.catch(error => {
					console.error('matching 실패:', error);
					// 여기에서 실패한 경우에 대한 처리를 수행
				});
	});
</script>
<br />

<h1>Social Login</h1>
<br />
<a href="/oauth2/authorization/kakao" >
	<img src=""
		 alt="google" width="357px" height="117px">
</a>
<br />
</body>
</html>