<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
</head>
<body>
<h1>회원가입 페이지</h1>
<hr/>
<form id="joinForm" action="/api/v1/join" method="post">
	이름<input type="text" name="username" placeholder="Username" required/> <br/>
	<input type="password" name="password" placeholder="Password"/> <br/>
	롤<input type="text" name="role" placeholder="Role" required>role[USER, ADMIN, MANAGER]</input> <br/>
	<button type="submit">회원가입</button>
</form>
<script>
	document.getElementById('joinForm').addEventListener('submit', function(event) {
		event.preventDefault();

		// FormData를 사용하여 폼 데이터 가져오기
		const formData = new FormData(event.target);

		// fetch를 사용하여 POST 요청 보내기
		fetch(event.target.action, {
			method: event.target.method,
			headers: {
				'Content-Type': 'application/json', // 또는 다른 적절한 Content-Type
			},
			body: JSON.stringify(Object.fromEntries(formData.entries())),
		})
				.then(response => {
					// console.log("응답내용" + response.text() +" / body " + response.body);
					if (!response.ok) {
						throw new Error(`Network response was not ok: ${response.statusText}`);
					}


					const contentType = response.headers.get('content-type');
					if (contentType && contentType.includes('application/json')) {
						return response.json();
					} else {
						// JSON 형식이 아닌 경우, 텍스트로 응답을 처리
						return response.text();
					}
				})
				.then(data => {
					console.log('회원가입 성공:', data);
					// 여기에서 성공적으로 가입한 경우에 대한 처리를 수행
					window.location.href = "index";
				})
				.catch(error => {
					console.error('회원가입 실패:', error);
					// 여기에서 실패한 경우에 대한 처리를 수행
				});
	});
</script>

</body>
</html>